html, body {
  background-color: #FFFFCC;
}

header {
  background-color: #CCCCA3;
  padding: 5px;
}

footer {
  color: white;
	padding-top: 10px;
	min-height: 10%;
	text-align: center;
	font-family: Port Lligat Slab, serif;
	background-color: #CCCCA3;
}

.link a:link, .link a:visited {
  color: white;
	text-shadow: 2px 2px 5px;
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-family: Kreon;
  font-size: 4em;
}

h2 {
  font-family: Port Lligat Slab, sans-serif;
  font-size: 3em;
  margin: 0;
}

h3, h4 {
	font-family: Port Lligat Slab, sans-serif;
}

p {
  font-family: Kreon, sans-serif;
  font-size: 1.5em;
}

.container-extras {
  background-color: #eee;
  border-style: double;
  margin-bottom: 100px;
  padding: 15px;
}

.scoreboard {
  color: #93C54B;
  text-shadow: 1px 2px black;
  padding: 0;
  word-break: break-all;
}

.option {
  height: 100px;
  font-size: 50px;
  font-family: Kreon, sans-serif;
  border: 2px solid #e0eaf6;
  background-color: #FFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.option:hover {
  transition: 0.5s;
  background-color: #EFF4FA;
}

.option:active {
  transition: 0.5s;
  background-color: #E0EAF6;
}

.empty {
  background-color: #0EABA0;
}

.X {
  background-image: url("../img/X.gif");

}
.X:active {
  background-image: url("../img/Xpressed.gif");
}

.O {
  background-image: url("../img/O.gif");
}
.O:active {
  background-image: url("../img/Opressed.gif");
}
